<div>
    <div class="py-4 border-bottom">
        <h2>Platform Offerings</h2>
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Strategy 1</h5>
                  <p class="card-text">This strategy will help you to gain profit with maximum percentage.</p>
                  <a routerLink="/instrument" class="btn btn-secondary">Select</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Strategy 2</h5>
                  <p class="card-text">This strategy will help you to gain profit with maximum percentage.</p>
                  <a routerLink="/instrument" class="btn btn-secondary">Select</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Strategy 3</h5>
                    <p class="card-text">This strategy will help you to gain profit with maximum percentage.</p>
                    <a routerLink="/instrument" class="btn btn-secondary">Select</a>
                  </div>
                </div>
              </div>
          </div>
    </div>
    <div class="py-4 border-bottom">
        <h2>My Strategies</h2>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Custom 1</h5>
                  <p class="card-text">This strategy will help you to gain profit with maximum percentage.</p>
                  <a routerLink="/instrument" class="btn btn-secondary">Select</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Custom 2</h5>
                  <p class="card-text">This strategy will help you to gain profit with maximum percentage.</p>
                  <a routerLink="/instrument" class="btn btn-secondary">Select</a>
                </div>
              </div>
            </div>
          </div>
    </div>

    <button type="button" class="btn btn-secondary btn-lg btn-block">Create Strategy</button>
</div>