<div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Symbol</th>
            <th scope="col">Investment(INR)</th>
            <th scope="col">Current Price(INR)</th>
            <th scope="col">No. of Stocks</th>
            <th scope="col">3 minute Prediction(INR)</th>
            <th scope="col">5 minute Prediction(INR)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>SBI</td>
            <td>2000</td>
            <td>200</td>
            <td>10</td>
            <td>2003</td>
            <td>2002</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>INFY</td>
            <td>3000</td>
            <td>1000</td>
            <td>3</td>
            <td>3006</td>
            <td>3008</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>BPCL</td>
            <td>3500</td>
            <td>350</td>
            <td>10</td>
            <td>3507</td>
            <td>3505</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>GAIL</td>
            <td>1500</td>
            <td>100</td>
            <td>15</td>
            <td>1506</td>
            <td>1504</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <th>Total</th>
            <th>10000</th>
            <th></th>
            <th></th>
            <th>{{2003 + 3006 + 3507 + 1506}}</th>
            <th>{{2002 + 3008 + 3505 + 1504}}</th>
          </tr>
          <tr>
            <th scope="row"></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Profit</th>
            <th>{{(2003 + 3006 + 3507 + 1506) - 10000}}</th>
            <th>{{(2002 + 3008 + 3505 + 1504) - 10000}}</th>
          </tr>
        </tbody>
    </table>
</div>